<div id="section-1" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="height: 600px; margin-top: 40px;" data-bs-interval="3000">
        <img src="assets\images\disabled.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" style="height: 600px; margin-top: 40px;" data-bs-interval="3000">
        <img src="assets\images\dis3.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" style="height: 600px; margin-top: 40px;" data-bs-interval="3000">
        <img src="assets\images\dis2jpeg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>