.header{
    color: rgb(40, 10, 111);
    font-weight: bolder;
    justify-content: center;
    position: absolute;
    text-align: center;
    padding: auto;
    margin-left: 450px;
    font-size:60px;
    margin-top: 30px;
}

.containerbut{
    margin-top: 200px;
}
.but1{
    margin-left: 150px;
    border: 1px solid transparent;
    background-color: rgb(34, 40, 33);
    color:bisque;
   /* font-size: 100px; */
height: 300px;

width: 300px;
border-radius: 12px;
    
    
}

img{
    /* margin-left: 350px; */
    border: 1px solid transparent;
height: 200px;
width: 200px;



}
.but2{
margin-left: 350px;
    border: 1px solid transparent;
height: 300px;
width: 300px;
background-color: rgb(95, 57, 8);
border-radius: 12px;
color: burlywood;
}
