
<app-navbar></app-navbar>

<html>
    <body>
        <!-- <img src="C:\Users\Sreeshma\Desktop\DAPP\front\DA\src\assets\images\dis3.jpeg" class="body" alt="gdyu"> -->
       
       <div ><h1 class="header" > WELCOME</h1></div> <br/>


       <div class="d-flex containerbut">
       <div >
        <button class="but1" (click)="save()"><img src="assets\images\pngegg.png"><br>AUDIT</button>
       </div>
       <div>
        <button class="but2" ><img src="assets\images\draft-icon-19.jpg" ><br/>DRAFT</button>
       </div>
    </div>


    
    
    </body>
</html>
