<html>
    <body><div class="mainbody">
        
        <div class="d-flex space">
       
       
        <div class="card" style="width: 18rem;">
      <a href="https://timesofindia.indiatimes.com/auto/policy-and-industry/disabled-persons-can-now-register-vehicles-under-divyanjgan-category-details/articleshow/97637867.cms">  <img class="card-img-top" src="https://static.toiimg.com/thumb/msid-97638854,imgsize-112676,width-400,resizemode-4/97638854.jpg" alt="Card image cap"></a>
        <div class="card-body">
          <p class="card-text">Disabled persons can now register their vehicles under "Divyangnjan" category</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <a href="https://timesofindia.indiatimes.com/auto/policy-and-industry/disabled-persons-can-now-register-vehicles-under-divyanjgan-category-details/articleshow/97637867.cms">  <img class="card-img-top" src="https://static.toiimg.com/thumb/msid-97638854,imgsize-112676,width-400,resizemode-4/97638854.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <p class="card-text">Disabled persons can now register their vehicles under "Divyangnjan" category</p>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
            <a href="https://timesofindia.indiatimes.com/auto/policy-and-industry/disabled-persons-can-now-register-vehicles-under-divyanjgan-category-details/articleshow/97637867.cms">  <img class="card-img-top" src="https://static.toiimg.com/thumb/msid-97638854,imgsize-112676,width-400,resizemode-4/97638854.jpg" alt="Card image cap"></a>
              <div class="card-body">
                <p class="card-text">Disabled persons can now register their vehicles under "Divyangnjan" category</p>
              </div>
            </div>
    </div>
    
    </div></body>
</html>